@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.flex {
  display: flex;
}

.mainContent {
  margin: 50px 60px 0 50px;
  width: 100%;
}

.contentInfo {
  margin-top: 30px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  padding: 30px 30px 0;
}

.balance {
  font-size: 42px;
}

.column {
  display: flex;
  flex-direction: column;
}

.opacityText {
  opacity: .5;
}

.buttonWithdraw {
  padding: 17px 43px;
  width: auto;
}

.contentBetween {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $colorLine;
}

.contentMoreInfo {
  padding: 30px 0 0;
  width: 100%;

  & + .contentMoreInfo {
    border-left: 1px solid $colorLine;
  }
}

.title {
  margin-left: 30px;
}

.contentCenter {
  margin: 14px 0 30px;
  width: 100%;
  text-align: center;
  opacity: .8;
}

.fullWidth {
  width: 100%;
  margin: 30px 15px 0 0;

  & + .fullWidth {
    margin: 30px 0 0 15px;
  }
}

.contentBottom {
  align-items: center;
  margin: 30px 0;
  justify-content: space-between;
}

.btn {
  font-size: 18px;
  width: auto;
  padding: 0;

  &:hover {
    color: $colorContent;
  }
}

.text {
  color: $colorOpacityText;
}

.titleLive {
  font-size: 20px;
  margin-bottom: 6px;
}

.subTitleLive {
  opacity: .8;
}

.btnEdit {
  background: transparent;
  padding: 0;
  width: auto;
}

.blockLive {
  justify-content: space-between;
  margin-bottom: 12px;
  min-width: 455px;

  & + .blockLive {
    padding-bottom: 20px;
    border-bottom: 1px solid $colorLine;
    margin-bottom: 20px;
  }
}

.contentFlexStart {
  align-items: flex-start;
}

.infoPrice {
  margin-bottom: 11px;
  display: flex;
  position: relative;
}
.firstPrice {
  color: $colorGreyLink;
}

.thirdPrice {
  opacity: .5;
}

.firstPrice,
.secondPrice,
.thirdPrice{
  margin-right: 42px;

  &.activePrice {
    margin-left: 8px;

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 5px;
      height: 5px;
      background: $colorButtons;
      border-radius: 50%;
    }
  }
}

.finance,
.findings {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.finance {
  margin-left: 30px;
}

.findings {
  padding-right: 45px;

  & + .findings {
    margin-top: 6px;
    margin-bottom: 40px;
  }
}

.opacityTextFindings {
  opacity: .3;
  min-width: 175px;
}
