@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/vars";

.singUpPopup {
  padding: 50px 70px 40px;
}

.singUpTitle {
  margin-bottom: 40px;
  text-align: center;
}

.facebookBLock,
.googleBLock {
  margin-top: -30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.facebookTitle {
  @include styleForText($fontSizeContent, $fontMain, $colorBlue);

  &:before {
    content: url("/svg/fb-blue.svg");
    left: -7px;
    top: 1px;
  }
}

.googleTitle {
  @include styleForText($fontSizeContent, $fontMain, $colorRed);

  &::before {
    content: url("/svg/google-plus.svg");
    left: -12px;
    top: 1px;
  }
}

.facebookTitle,
.googleTitle {
  position: relative;
  padding-left: 8px;

  &:before {
    position: absolute;
  }
}

.username {
  @include styleForText($fontSizeContent, $fontAdditional);

  opacity: .5;
  margin-left: 15px;
}

.singUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  width: 398px;
  background: $colorWhite;
  border: 1px solid $colorGreyDark;
}

.singUpSubmit {
  margin-top: 40px;
}

.formikWrapper {
  margin-bottom: 20px;
}

.bntBack {
  position: absolute;
  top: 36px;
  left: 30px;
}
