@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  width: 100%;
  height: 39px;
}

.container {
  width: 100%;
  height: 39px;
  position: fixed;
  transition: .3s;
  top: 0;
  background-color: $colorButtons;
  display: flex;
  align-items: center;
  justify-content: center;
}
