@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.button {
  @include styleForText($fontSizeContent, $fontMain, #9a9a9a);

  border-radius: 8px;
  width: 100%;
  padding: 17px 0 16px;
}

.buttonWhite {
  background: white;
  color: $colorButtons;
  border: 1px solid $colorButtons;

  &:hover {
    background-color: $colorButtons;
    color: $colorWhite;
  }
}

.buttonBlack {
  color: $colorWhite;
  background: $colorContent;
}

.buttonGrey {
  color: $colorGreyLink;
  background: $colorAvatarBackground;

  &:hover {
    color: #9a9a9a;
  }
}

.buttonGreen,
.buttonSmallGreen,
.buttonSmall {
  color: $colorWhite;
  background: $colorButtons;

  &:hover {
    background-color: #51A563;
  }
}

.buttonRed {
  border: 1px solid $colorRedDark;
  color: $colorRedDark;
  background: $colorWhite;
  width: 344px;

  &:hover {
    color: $colorWhite;
    background: $colorRedDark;
  }
}

.buttonSmallGreen {
  padding: 15px 0 16px;
  font-size: 18px;
}

.buttonSmall {
  padding: 10px 0 11px 0;
}

.buttonSimpleCopy {
  padding: 0;
  width: auto;
}

.buttonLink {
  padding: 11px 15px 10px;
  width: auto;
  border: 1px solid $colorGreyDark;
  color: $colorContent;

  &:hover {
    color: $colorGreyLink;
  }
}
