@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.button {
  @include styleForText($fontSizeContent, $fontMain, #9a9a9a);

  border-radius: 8px;
  width: 100%;
  padding: 17px 0 16px;
  text-align: center;
  transition: .1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1600px) {
    @include styleForText(14px, $fontMain, #9a9a9a);
  }
}

.buttonWhite {
  color: $colorButtons;
  border: 1px solid $colorButtons;

  &:hover {
    background-color: $colorButtons;
    color: $colorWhite;
  }
}

.buttonBlack {
  color: $colorWhite;
  background: $colorContent;
}

.buttonGrey {
  color: $colorGreyLink;
  background: $colorAvatarBackground;

  &:hover {
    color: #9a9a9a;
  }
}

.buttonGreen,
.buttonSmallGreen,
.buttonSmall {
  color: $colorWhite;
  background: $colorButtons;

  &:hover {
    background-color: #51A563;
  }
}

.buttonSimple {
  color: $colorGreyLink;
  border: 1px solid $colorGreyDark;
  background-color: $colorWhite;
}

.buttonIndicator {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $colorGreyDark;
  border-radius: 10px;
}

.linkOccupation {
  display: flex;
  font-size: $fontSizeContent;
  align-items: center;
  width: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: $colorButtons;
  border: 1px solid #cce7d1;
}

.buttonRed {
  border: 1px solid $colorRedDark;
  color: $colorRedDark;
  width: 344px;

  &:hover {
    color: $colorWhite;
    background: $colorRedDark;
  }
}

.buttonSmallGreen {
  padding: 15px 0 16px;
  font-size: 18px;
}

.buttonSmall {
  padding: 10px 0 11px 0;
}

.buttonSimpleCopy {
  padding: 0;
  width: auto;
}

.buttonLink {
  padding: 11px 0 10px;
  width: auto;
  border: 1px solid $colorGreyDark;
  color: $colorContent;

  &:hover {
    color: $colorGreyLink;
  }
}

@media screen and (max-width: 1600px) {
  .button {
    padding: 15px 0;
  }
}
