@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 109px;
}

.text {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 6px;
  opacity: 0.5;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  & span {
    display: block;
    width: 195px;
  }
}

.inputWrapper {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 0.2px solid $colorGrey;
}

.buttonWrapper {
  margin-top: 40px;
}

@media screen and (max-width: 1600px) {
  .form {
    padding: 50px 60px 40px;
  }

  .text {
    font-size: $fontSizeLaptopSmall;
  }

  .buttons {
    margin-top: 30px;
  }

  .inputWrapper {
    margin-top: 20px;
    padding-top: 20px;
  }

  .buttonWrapper {
    margin-top: 45px;
  }
}
