@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.googleButton {
  margin-left: 8px;

  @include styleForText($fontSizeContent, $fontMain, $colorRed);

  border: 1px solid #FBDBD7;
  width: 195px;
  background-color: transparent;
  padding: 11px 0 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  border-radius: 5px;

  &::before {
    content: '';
    background-image: url("../../static/svg/google-plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 14px;
    width: 14px;
    padding-right: 8px;
  }

  &:hover {
    background: #FBDBD7;
    border: 1px solid #FBDBD7;
  }
}

@media screen and (max-width: 1600px) {
  .googleButton {
    font-size: 14px;

    &:before {
      width: 12px;
      height: 12px;
      padding-right: 5px;
    }
  }
}

@media screen and (max-width: 1280px) {
  width: 186px;
}
