@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.content {
  @include container(89%);
}

.mainInfoSection {
  margin-top: 100px;
  margin-bottom: 180px;
  display: flex;
}

.infoPayment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 141px;
  background-color: $colorWhite;
  width: 47%;
  border-radius: 10px;
}

.infoPaymentTitle,
.authBlockTitle {
  font-size: 42px;
  text-align: center;
}

.infoPaymentText {
  font-family: $fontAdditional;
  margin-top: 15px;
  opacity: .5;
}

.infoPaymentButton {
  margin-top: 50px;
  font-size: 16px;
}

.iconLink {
  margin-left: 25px;

  & path {
    stroke: #b6dabe;
  }
}

.authBlock {
  padding: 90px 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.authBlockButtons {
  display: flex;
  margin-top: 30px;
}

.googleButtonWrapper {
  margin-left: 8px;
}

@media screen and (max-width: 1600px) {
  .infoPayment {
    padding: 60px 80px;
  }

  .infoPaymentTitle,
  .authBlockTitle {
    font-size: 36px;
  }

  .infoPaymentText {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  .mainInfoSection {
    margin-bottom: 150px;
  }

  .iconLink {
    margin-top: -4px;
  }

  .infoPayment {
    padding: 50px;
    width: 56%;
  }

  .content {
    width: 92%;
  }

  .authBlock {
    padding: 50px 40px 50px 70px;
  }

  .infoPaymentText {
    margin-top: 10px;
  }

  .infoPaymentButton {
    margin-top: 30px;
  }

  .infoPaymentTitle,
  .authBlockTitle {
    font-size: 30px;
  }
}
