@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/vars";

.resetPopup {
  text-align: center;
  padding: 52px 70px 40px;
}

.resetTitle {
  margin-bottom: 20px;
}

.bntBack {
  position: absolute;
  top: 36px;
  left: 30px;
}

.resetInfo {
  max-width: 384px;
  margin: auto;
  opacity: .8;
  font-family: $fontAdditional;
}

.cancelBtn {
  color: $colorGreyLink;
  margin: 40px auto 0;
}

.resetBtn {
  margin-top: 20px;
}
