@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  padding: 50px 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 386px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.deleteBtn {
  margin-top: 50px;
}
