@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  padding: 50px 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 386px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.deleteBtn {
  margin-top: 50px;
}

@media screen and (max-width: 1600px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .title {
    font-size: 24px;
  }

  .deleteBtn {
    margin-top: 40px;
    width: 180px;
  }
}
