@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.container {
  height: 100%;
  padding: 0 50px;
  width: auto;
}

.iconLogo {
  margin-top: 40px;
}

.wrapperContent {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 50px;
}

.textContent {
  margin-top: 175px;
}

.amountParticipants {
  @include styleForText(72px);
}

.amountParticipantsGrey {
  color: $colorGreyDark;
}

.question {
  padding-top: 15px;
  color: $colorGreyDark;
}

.infoList {
  width: 550px;
  margin-top: 30px;
}

.infoListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-top: 1px solid $colorGreyDark;
}

.titleInfoList {
  @include styleForText(24px);
}

.copyButton {
  width: 208px;
  border-radius: 5px;
}

.iconCopy {
  margin-right: 9px;
  position: relative;
  top: 1px;

  & path {
    opacity: 1;
    fill: #78bf87;
  }
}

.translationWrapper {
  position: relative;
  height: 552px;
  width: 50%;
}

.translationWrapperText {
  @include styleForText($fontSizeContent, $fontAdditional, $colorGreyLink);

  position: absolute;
  width: 295px;
  bottom: -68px;
  left: 20px;
}

.footer {
  margin-top: 161px;
  height: 115px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  border-top: 1px solid $colorGreyDark;
}

.buttonStart {
  width: 265px;
  display: block;
  text-align: center;
}
