@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px 40px;
  width: 398px;
}

.bntBack {
  position: absolute;
  top: 36px;
  left: 30px;
}

.desc {
  @include styleForText($fontSizeContent, $fontAdditional);

  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.buttonCancel {
  @include styleForText($fontSizeContent, $fontMain, $colorGreyLink);

  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.buttonUpdate {
  margin-top: 20px;
}
