@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  position: absolute;
  padding: 31px 10px 10px;
  right: 0;
  bottom: -68px;
  background-color: $colorWhite;
  width: 273px;
  z-index: 102;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 10px 50px $colorBox-shadow;
}

.title {
  text-align: center;
}

.tooltip {
  @include styleForText(14px, $fontAdditional);

  padding-top: 16px;
}

.buttonAccess {
  margin-top: 10px;
  width: 226px;
}

.line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: $colorGreyDark;
  margin-top: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.buttonIndicator {
  border: 1px solid #f3d1d1;
  width: 54px;
  padding: 0;

  &:last-child {
    margin-left: 10px;
  }
}

.iconCamera path {
  fill: $colorRed;
  stroke: $colorRed;
  stroke-width: 0.3px;
  opacity: 1;

  &:last-child {
    stroke-width: 1px;
  }
}
