@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.accordionWrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  transition: .3s;
}

.accordionTabs {
  margin-right: 20px;

  & + .accordionTabs {
    border-top: 1px solid $colorAvatarBackground;
  }
}

.accordionFAQ {
  border-bottom: 1px solid $colorGreyDark;
  margin-bottom: 30px;
  padding-bottom: 30px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $colorContent;
  padding: 0;
  height: 50px;
}

.text {
  font-size: $fontSizeContent;
}

.textFAQ {
  font-size: 24px;
}

.accordionContent {
  overflow: hidden;
  transition: .3s;
  font-size: 15px;
}

.iconTab {
  position: relative;
  transition: .3s;
  transform: rotate(-90deg);
}

.iconFAQ {
  position: relative;
  transition: .3s;
  right: 8px;
  transform: rotate(90deg);
}

.iconRotate {
  transform: rotate(0);
}

.activeTab {
  padding: 0 20px 20px;
  transition: .3s;
  margin-right: 0;
  background: $colorAvatarBackground;
  border-radius: 10px;

  & + .accordionSection {
    border: none;
  }
}

.activeFAQ {
  transition: .3s;
}


