@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.accordionSection {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 20px;

  & + .accordionSection {
    border-top: 1px solid $colorAvatarBackground;
  }
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $colorContent;
  padding: 0;
  height: 60px;
}

.accordionContent {
  overflow: hidden;
  transition: max-height 0.6s ease;
  opacity: 0;
}

.activeContent {
  opacity: .6;
}

.icon {
  position: relative;
  transform: rotate(-90deg);
  transition: transform 0.6s ease;
}

.iconRotate {
  transform: rotate(0);
}

.active {
  padding: 0 20px 20px;
  margin-right: 0;
  background: $colorAvatarBackground;
  border-radius: 10px;

  & + .accordionSection {
    border: none;
  }
}
