@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.card {
  padding: 30px 0;
  border-top: 1px solid $colorGrey;
  position: relative;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.cardWithoutBorder {
  border-top: none;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flexGroupLive {
  display: flex;
  align-items: baseline;
}

.mainInfo {
  display: flex;
  align-items: flex-start;
}

.showMore {
  color: $colorContent;
  opacity: .2;
  margin-left: 10px;
}

.price {
  @include styleForText($fontSizeContent, $fontMain, $colorButtons)
}

.buttonPriceNull {
  color: $colorRedDark !important;
}

.iconPlus {
  transform: rotate(30deg);
}

.icon {
  margin-right: 9px;
  margin-top: -2px;
}

.iconGreen g {
  fill: #95c19f;
}

.titleContentInfo {
  text-align: left;
  width: 136px;
}

.lastTitleContentInfo {
  display: flex;
  align-items: flex-end;
  margin-right: 32px;
  width: 233px;
}

.date {
  @include styleForText(20px);
}

.dateGreen {
  color: $colorButtons;
}

.firstTitleContentInfo {
  width: 342px;
  align-items: baseline;
}

.firstTitleContentInfoOpacity {
  opacity: .3;
  pointer-events: none;
}

.secondTitleContentInfo {
  width: 175px;
  margin-top: 3px;
}

.count {
  @include styleForText()
}

.countNull {
  color: $colorGreyLink;
}

.greyBtn {
  color: $colorGreyLink;
  width: auto;
  padding: 11px 15px 10px;
  background: $colorAvatarBackground;
  margin-top: 12px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.sizeBtn {
  padding: 11px 15px 10px;
  margin-top: 12px;
  width: auto;
  border-radius: 5px;

  & + .sizeBtn {
    margin-left: 8px;
  }

  &:hover svg path {
    fill: $colorWhite;
  }
}

.sizeBtnMargin {
  margin-right: 10px;
}

.buttonCopy {
  border: 1px solid #cce7d1;
  margin-right: 0;
}

.dotsItems {
  position: absolute;
  top: 50%;
  right: -34px;
  z-index: 99;
  transform: rotate(90deg) translateY(-50%);
  width: 21px;
  height: 5px;
  justify-content: space-between;
  display: flex;

  .dotItem {
    width: 5px;
    height: 5px;
    background: $colorGreyDark;
    border-radius: 50%;
  }
}

.column {
  flex-direction: column;
  position: relative;
}

.buttonsBlock {
  padding: 21px 30px 20px 27px;
  border: 1px solid #DDDDDD;
  background-color: $colorWhite;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  top: 9px;
  right: -44px;
  width: 172px;
}

.buttonEdit,
.buttonDelete {
  @include styleForText($fontSizeContent, $fontMain, $colorGreyDark);

  width: 100%;
  text-align: left;
}

.buttonEdit {
  color: $colorContent;
  padding-bottom: 20px;
  border-bottom: 1px solid $colorGreyDark;
}

.buttonDelete {
  padding-top: 20px;
}

.input {
  @include styleForText(20px, $fontMain, $colorContent);

  background-color: transparent;
  border: none;
  height: 26px;
  margin-right: 20px;

  &:focus {
    border-bottom: 1px solid $colorGreyLink;
  }

  &::placeholder {
    color: $colorGreyLink;
  }
}

.buttonPrice {
  @include styleForText($fontSizeContent, $fontMain, $colorButtons);

  text-align: right;
  margin-top: 3px;
}
