@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.facebookButton {
  @include styleForText($fontSizeContent, $fontMain, $colorBlue);

  border: 1px solid #cbe2f2;
  width: 195px;
  background-color: transparent;
  padding: 11px 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;

  &::before {
    content: '';
    background-image: url("../../static/svg/fb-blue.svg");
    padding-right: 8px;
    width: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
  }

  &:hover {
    background: #CCE2F3;
    border: 1px solid #CCE2F3;
  }
}

@media screen and (max-width: 1600px) {
  .facebookButton {
    font-size: 14px;
    align-items: center;

    &:before {
      width: 6px;
      height: 12px;
      padding-right: 5px;
    }
  }
}

@media screen and (max-width: 1280px) {
  width: 186px;
}
