@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.inputWrapper {
  width: 100%;
  position: relative;
  border: none;
}

.icon {
  position: absolute;
  right: 15px;
  top: 20px;
  fill: none;
  z-index: 12;
  stroke: $colorGreyDark;
  stroke-width: 2px;
}

.correctIcon {
  stroke: $colorButtons;
}

.ActiveIcon {
  fill: $colorButtons;
}

.errorLine {
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  z-index: 1;
  width: 2px;
  height: 29px;
  background-color: $colorRedDark;
}

.currency {
  @include styleForText($fontSizeContent, $fontMain, $colorGreyLink);

  position: absolute;
  top: 22px;
  left: 24px;
}

.entryInput {
  @include styleForText($fontSizeContent, $fontAdditional);

  padding: 16px 33px 15px 20px;
  border-radius: 5px;
  width: 86.3%;

  &::placeholder {
    color: grey;
  }
}

.entryInputNoActive {
  background-color: #f2f2f2;
}

.entryInputActive {
  border: 1px solid $colorGrey;
}

.inputNewLive {
  @include styleForText();

  padding: 20px 20px 20px 40px;
  background: transparent;
  text-decoration: underline;
  text-decoration-color: $colorGreyLink;
  width: 100%;
  border: 2px solid $colorBackground;
  border-radius: 5px;
}

.inputFinance {
  @include styleForText(24px, $fontAdditional);

  padding-bottom: 10px;
  border-bottom: 1px solid $colorGreyDark;

  &::placeholder {
    color: $colorGreyDark;
  }
}

@media screen and (max-width: 1600px) {
  .inputNewLive {
    font-size: $fontSizeLaptop;
  }

  .inputFinance {
    font-size: $fontSizeBigText;
    padding-bottom: 5px;
  }

  .entryInput {
    @include styleForText($fontSizeLaptop, $fontAdditional);

    padding-top: 15px;
  }
}
