@import "src/styles/core/mixins";
@import "src/styles/core/vars";

.loginTitle {
  margin-bottom: 40px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 52px 70px 50px;
}

.inputWrapper {
  width: 398px;
  background: $colorWhite;
  border: 1px solid $colorGreyDark;
}

.loginSubmit {
  margin-top: 40px;
}

.formikWrapper {
  margin-bottom: 20px;
}

.forgotPassword {
  text-align: right;
  width: 100%;
}

.forgotButton {
  @include styleForText($fontSizeContent, $fontMain, $colorGreyLink);
}

.bntBack {
  position: absolute;
  top: 36px;
  left: 30px;
}

@media screen and (max-width: 1600px) {
  .inputWrapper {
    width: 370px;
  }

  .loginForm {
    padding: 50px 60px 40px;
  }

  .formikWrapper {
    margin-bottom: 10px;
  }

  .forgotButton {
    font-size: $fontSizeLaptop;
    margin-top: 10px;
  }
}
