@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.input {
  @include styleForText(20px, $fontMain, $colorContent);

  background-color: transparent;
  border: none;
  margin-right: 20px;
  width: 100%;

  &:focus {
    border-bottom: 1px solid $colorGreyLink;
  }

  &::placeholder {
    color: $colorGreyLink;
  }
}

@media screen and (max-width: 1600px) {
  .input {
    font-size: 18px;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    width: 144px;
  }
}
