@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapperTraining {
  display: flex;
}

.leftTraining {
  width: 480px;
}

.icon {
  margin-right: 8px;
}

.bgColor {
  background: $colorAvatarBackground;
  padding: 40px 30px 40px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sizeGroup {
  @include styleForText(35px, $fontMain);
}

.maxSize{
  @include styleForText(35px, $fontMain, $colorGreyDark);
}

.rightTraining {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 100%;
  margin-top: 99px;
}

.finished {
  position: absolute;
  left: 50px;
  bottom: 25px;
  opacity: .5;
}
