@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.wrapper {
  padding: 50px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  margin-bottom: 50px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.colorPath {
  path {
    stroke: $colorGreyDark;
  }
}
