@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.flexGroupLive {
  display: flex;
  align-items: baseline;
}

.fullWidthBlock {
  width: 100%;
}

.titlePage {
  margin-bottom: 30px;
}

.contentBetween {
  justify-content: space-between;
}

.fullWidthBlock .contentBetween + .contentBetween {
  padding-top: 30px;
}

.marginRight {
  margin-right: 30px;
}

.showMore {
  color: $colorContent;
  opacity: .2;
  margin-left: 10px;
}

.amountPrice {
  font-family: $fontSemiBold;
  font-size: 20px;
}

.colorGreen {
  color: $colorButtons;
}

.medium {
  font-family: $fontMain;
}

.mainTitle {
  margin-right: 30px;
}

.mainContent {
  margin: 50px 60px 0 50px;
  width: 100%;
}

.firstBlock {
  padding: 30px 40px;
  border-radius: 10px;
  background: $colorWhite;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.iconPlus {
  transform: rotate(30deg);
}

.textLive {
  @include styleForText(18px, $fontMain);
}

.iconPlusPlan {
  padding-right: 10px;

  & path {
    opacity: 1;
  }
}

.opacityText {
  opacity: .5;
}

.contentInfo {
  border: 1px solid $colorGreyDark;
  border-radius: 5px;
  padding: 21px 30px 30px;
  margin-bottom: 20px;
}

.price {
  opacity: .3;
}

.icon {
  margin-right: 9px;
}

.rightBlock {
  width: 100%;
  max-width: 425px;
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid $colorGreyDark;
}

.alignCenter {
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid $colorGreyDark;
  margin-bottom: 20px;
}

.textRight {
  text-align: right;
  min-width: 251px;
}

.contentAfter:after {
  content: '';
  width: 36px;
  display: inline-block;
}

.bottomLine {
  border-bottom: 1px solid $colorGreyDark;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.marginBottom {
  margin-bottom: 15px;
}

.titleContentInfo {
  text-align: left;
  width: auto;
}

.lastTitleContentInfo {
  margin-right: 27px;
  width: 312px;
  text-align: right;
}

.firstTitleContentInfo {
  width: 335px;
  align-items: baseline;
}

.secondTitleContentInfo {
  width: 168px;
}

.notFoundText {
  text-align: center;
}

.greyBtn {
  color: $colorContent;
  width: auto;
  padding: 11px 15px 10px;
  background: $colorBackground;
  margin-top: 7px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sizeBtn {
  padding: 11px 15px 10px;
  margin-top: 12px;
  width: auto;

  & + .sizeBtn {
    margin-left: 8px;
  }

  &:hover svg path {
    fill: $colorWhite;
  }
}

.dotsItems {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: rotate(90deg) translateY(-50%);
  width: 21px;
  height: 5px;
  justify-content: space-between;
  display: flex;

  .dotItem {
    width: 5px;
    height: 5px;
    background: $colorGreyDark;
    border-radius: 50%;
  }
}

.column,
.columnPrice {
  flex-direction: column;
  position: relative;
  margin: 0;
}

.column {
  padding-bottom: 10px;
}

.columnOpacity {
  opacity: .3;
  pointer-events: none;
}

.lastItem {
  border: none;
  padding-bottom: 0;
}

.incomeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & + .incomeInfo {
    margin-top: 10px;
  }
}


@media screen and (max-width: 1770px) {
  .fullWidthBlock {
    max-width: 819px;
  }
}

@media screen and (max-width: 1600px) {
  .textLive {
    @include styleForText(16px, $fontMain);
  }

  .incomeInfo {
    p {
      font-size: 18px;

      & + p {
        font-size: 14px;
        font-family: $fontAdditional;
      }
    }
  }

  .incomeInfo + .incomeInfo {
    margin-top: 7px;
  }

  .mainContent {
    margin: 40px 50px 0 40px;
  }

  .firstTitleContentInfo,
  .secondTitleContentInfo,
  .titleContentInfo,
  .lastTitleContentInfo {
    font-size: 14px;
  }

  .totalText {
    font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .mainContent {
    margin: 30px;
  }

  .titlePage {
    margin-bottom: 20px;
  }

  .flexGroupLive {
    align-items: flex-start;
  }

  .fullWidthBlock {
    max-width: 718px;
  }

  .firstBlock {
    padding: 20px 30px 20px 35px;
    margin-bottom: 15px;
  }

  .rightBlock {
    padding: 20px;
  }

  .bottomLine {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .totalPriceInfo,
  .incomeInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .totalPriceInfo {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .totalText,
  .amountText {
    margin-top: 5px;
  }

  .amountText {
    @include styleForText($fontSizeLaptopSmall, $fontAdditional, $colorGreyLink);
  }
}
