@import "src/styles/core/vars";
@import "src/styles/core/mixins";

.flex {
  display: flex;
  align-items: flex-start;
}

.titlePage {
  margin-bottom: 30px;
}

.contentBetween {
  justify-content: space-between;
}

.titleInfo{
  border-bottom: 1px solid $colorBorder;
  padding-bottom: 19px;
  width: 100%;
  margin-bottom: 30px;
}

.mainContent {
  margin: 50px 60px 0 50px;
  width: 100%;
}

.firstBlock {
  padding: 30px 40px;
  border: 1px solid $colorButtons;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.greenText {
  color: $colorButtons;
  font-size: 18px;
}

.opacityText {
  opacity: .5;
}

.contentInfo {
  border: 1px solid $colorBorder;
  border-radius: 5px;
  padding: 21px 30px 30px;
  margin-bottom: 20px;
}

.price {
  opacity: .3;
}

.posR {
  position: relative;

}

.fullWidth {
  width: 100%;
  text-align: left;

  &:first-child {
    min-width: 320px;
  }

  &:last-child {
    text-align: right;
  }
}

.icon {
  margin-right: 9px;
}

.demoBtn {
  display: flex;
  align-items: center;
  padding: 11px 15px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 36px;
}


.deleteBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.rightBlock {
  width: 100%;
  max-width: 425px;
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid $colorBorder;
}

.alignCenter {
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid $colorBorder;
  margin-bottom: 20px;
}

.textRight {
  text-align: right;
  min-width: 251px;
}

.contentAfter:after {
  content: '';
  width: 36px;
  display: inline-block;
}

.bottomLine {
  border-bottom: 1px solid $colorBorder;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.marginBottom {
  margin-bottom: 15px;
}
